
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}



body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background: #131222;
    
    width: 100%;
}

nav {
    top:0;
    left: 0;
    right: 0;
    height: 70px;
    background: #1E1D32;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

nav .logo {
    position: relative;
    max-width: 80px;
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 35%;
    align-items: center;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: white;
}





 /*---------- section list somed pic --------------------------*/


 .section-sosmed {
     width: 100%;
     padding: 30px 100px;
     background-color: #131222;
     flex-direction: column;
     display: flex;
     justify-content: center;
     align-items: center;

}


/* -----------------  content -----------------------*/
.content {
    
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left-content {

    position: relative;
    max-width: 600px;
}

.left-content img {
    width: 100%;
}

.right-content {
    height: auto;
    width: 50%;
    
}

.right-content-kotak {
    padding: 30px 20px 20px 30px;
    background: #26253f;
    margin-bottom: 30px;
    border-radius: 3px;
    display: flex;
}

.right-detail-text {
    color: white;
}

.right-content-kotak:hover {
    background-color: #ed1942;
}

.righ-content-img {

    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.righ-text-judul {
    font-size: 30px;
    color: white;
    font-weight: 300;
}



/* ------------------ Detail Acara ----------------- */

.menu-kotak {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
}

.kotak-x {
    width: 100%;
    height: 100px;
    background: #ed1942 url(../img/tex-bg1.png) repeat left;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 5px;
}



.kotak-img {
    
}

.kotak-img img {
    display: inline-block;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.kotak-text {
    display: inline-block;
    position: relative;
    
    color: white;
}

.cha-title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 18px;
}

.cha-bit {
    display: block;
    color: #c4d5f6;
}


.menu-kotak-win {
    display: flex;
    justify-content: space-around;
    width: 100%;

}



.kotak-win {
    margin: 5px;
    width: 33.33%;
    height: 100px;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    height: auto;
}

.detail-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #26253f;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    transition: width 2s, height 4s;
}

.detail-person:hover {
    background-color: #ed1942;
}

.img-person {
    width: 30%;

}

.img-person img {
    border-radius: 50%;
    margin-left: 15px;
}

.text-person {
    width: 70%;
}

.name-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.id-hdi {
    color: #c4d5f6;
    display: block;
}


/* --------pagination ----------- */

.pagination a {
  border-radius: 5px;
  color: white;
  margin: 10px;
  text-decoration: none;
  font-size: 30px;
}

.pagination a:hover {
  background-color: #ed1942;
}

.pagination a.active {
  border-radius: 5px;
}